@font-face {
    font-family: 'Mermaid';
    src: url('Mermaid.ttf');
}


@font-face {
    font-family: 'Overpass-Regular';
    src: url('Overpass-Regular.ttf');
}

@font-face {
    font-family: 'Espacio Novo Medium';
    src: url('Espacio Novo Medium.ttf');
}

@font-face {
    font-family: 'atwriter';
    src: url('atwriter.ttf');
}



h1
{
color:black !important;
font-family: 'Mermaid';
font-size: 64px;
}


h2
{
color:black !important;
font-family: 'Mermaid';
font-size: 48px;
}


h5{
 color:black !important;
font-family: 'Espacio Novo Medium';
font-size: 24px;  
}

.card1{
    color:black !important;
    font-family: 'atwriter';
    font-size: 18px;
}




p{
    color:black !important;
font-family: 'Overpass-Regular';
font-size:24px; ;
}

body{
    background-color:#F9F9F9 ;
}

.color-background-cards{
    background-color:#FFFFFF ; 
}

.background-color{
    background-color:#F3F0EA;
}



#logo{
    width: 240px;
}

#font-color{
    color: #71A894;
}

#image1{
    width: 100%;
}

#image2{
    width: 100%;
}

#card-member-size{
    width: 100%;
}

.member-size{
    width: 72px;
}


.icons{
    width: 104px;
    height: 88px;
    margin-left: auto;
    margin-right: auto;
}


.box-shadow
{
box-shadow:10px 10px 0px #71A894;
border-radius: 10px / 10px;
}

.box-shadow-bottom{
    box-shadow:0px 10px 0px #71A894;
    border-radius: 10px / 10px;
}

.border-card-green{
    border: 2px solid #71A894;
    margin-left: 1px;
}

.card-bottom-shadow{
    box-shadow: 10px 10px 10px #F3F0EA;
    background-color: #FFFFFF;
}

#alexrose-commits{
    font-size: 1rem;
}

.bi-star-fill{
    color:gold;
}